:root {
  --background-color: #fff;
  --link-blue: #4574d2;
  --link-blue-hover: #3a5bb0;
  --link-blue-active: #2d3f8c;
  --gray-100: #f9f9f9;
  --gray-200: #e1e1e1;
  --gray-300: #c7c7c7;
  --gray-400: #a1a1a1;
  --gray-500: #7f7f7f;
  --gray-600: #686868;
  --gray-700: #545454;
  --gray-800: #424242;
  --gray-900: #2b2b2b;
  --purple: #791e51;
  --purple-hover: #681a46;
  --purple-active: #5b153c;
  --blue: #005bb3;
  --blue-hover: #004daa;
  --blue-active: #00419e;
  --blue-light: #ceeaff;
  --turquoise: #195280;
  --turquoise-hover: #164e6c;
  --turquoise-active: #133c59;
  --dark-blue: #23405e;
  --dark-blue-hover: #1d344e;
  --dark-blue-active: #172742;
  --dark: #000000;
  --dark-hover: #5c5c5c;
  --dark-active: #333;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 14px;
}

body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}