@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1300px;
  }
  .container-none {
    margin: 0;
    padding: 0;
    max-width: none;
  }
  @media (any-hover: hover) {
    .hover-transition {
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }
  }
  .title {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .title {
      line-height: 18px;
      font-size: 20px;
    }
  }
  .block-title {
    line-height: 38px;
    font-size: 36px;
    font-weight: bold;
  }
  @media (max-width: 1200px) {
    .block-title {
      line-height: 34px;
      font-size: 32px;
    }
  }
  @media (max-width: 992px) {
    .block-title {
      line-height: 30px;
      font-size: 28px;
    }
  }
  @media (max-width: 768px) {
    .block-title {
      line-height: 26px;
      font-size: 24px;
    }
  }
  @media (max-width: 640px) {
    .block-title {
      line-height: 22px;
      font-size: 20px;
    }
  }
}
