<section class="card mb-[40px]">
  <div class="card__wrapper">
    <div class="card__container container">
      <div class="card__body flex flex-col lg:flex-row gap-y-[30px] gap-x-[60px] xl:gap-x-[120px]">
        <div class="card__info flex flex-col w-full lg:max-w-[475px]">
          <div class="card__gallery flex flex-col-reverse lg:flex-row items-start gap-[20px] gap-x-[20px] mb-[20px]">
            <div class="card__gallery-overflow w-full max-w-[130px]">
              <ul class="card__gallery-list flex flex-row lg:flex-col items-center gap-[30px]">
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/1.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
                <li class="card__gallery-img"><img class="w-full max-w-[130px] object-contain" src="./img/product/2.png" alt="" /></li>
              </ul>
            </div>
            <div class="card__gallery-result w-full flex flex-col items-center bg-[#F9F9F9] rounded-[10px] pt-[10px] text-center text-[20px] text-gray-600">
              <h5>Valesteam ADCA</h5>

              <img src="./img/product/1.png" class="w-full h-full max-h-[260px] object-contain" alt="" />
            </div>
          </div>
          <div class="card__specifications mb-[20px]">
            <h3 class="card__specifications-title text-[20px] font-extrabold mb-[10px]">Specifications</h3>

            <ul class="card__specifications-table">
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Dimenstion</span> <span>3/8"-1"; DN10-DN25</span></li>
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Use</span> <span>конденсатор, пар</span></li>
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Connections</span> <span>рiзьбове; фланцеве; пiд приварювання</span></li>
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Max. operating pressure</span> <span>40 бар</span></li>
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Max. operating temperature</span> <span>300℃</span></li>
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Flow rate capacity</span> <span>740 кг/год</span></li>
              <li class="flex justify-between border-b-[1px] border-gray-400"><span class="font-bold">Nominal pressure</span> <span>PN63 / Class 300</span></li>
            </ul>
          </div>

          <div class="card__documentation">
            <h3 class="card__documentation-title text-[20px] font-extrabold mb-[5px]">Documentation</h3>
            <h4 class="card__subtitle text-[14px] text-gray-500 mb-[10px]">Technical data sheet(s)</h4>
            <ul class="card__documentation-files flex flex-wrap gap-[20px]">
              <li class="w-full max-w-[155px]">
                <a href="#" class="flex gap-x-[16px] items-center leading-[16px] text-[14px] hover-transition underline text-turquoise-normal hover:text-turquoise-hover active:text-turquoise-active">
                  <img class="w-full max-w-[36px]" src="./img/product/file.png" alt="" />
                  <div class="flex flex-col">
                    <p>Завантажити повний опис DT40-2 ADCA.pdf <span>807kb</span></p>
                  </div>
                </a>
              </li>
              <li class="w-full max-w-[155px]">
                <a href="#">
                  <img class="w-full max-w-[36px]" src="./img/product/file.png" alt="" />
                  <div class="flex flex-col">
                    <p>Завантажити повний опис DT40-2 ADCA.pdf <span>807kb</span></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card__options">
          <h1 class="card__title font-bold md:leading-[30px] md:text-[28px] lg:leading-[35px] lg:text-[32px] xl:leading-[37px] xl:text-[35px] mb-[5px]">Thermodynamic steam traps ADCA DT40/2</h1>
          <p class="card__product-code text-[14px] mb-[15px]"><span class="text-gray-500">Products code:</span> A.10.0213</p>

          <p class="card__avaible mb-[15px] text-[22px] leading-[24px] flex items-center font-bold before:content-[''] before:w-[14px] before:h-[14px] before:bg-blue-normal before:mr-[8px] before:rounded-full">Immediately Available</p>

          <p class="card__config-text text-[15px] ml-[5px] mb-[15px] text-gray-700">Price according to configuration</p>

          <div class="card__configuration border-[1px] p-[20px] mb-[20px]">
            <h6 class="card__configuration text-[18px] font-bold mb-[20px]">Choose your configuration</h6>

            <div class="card__config flex flex-wrap justify-between gap-y-[20px] gap-x-[10px] mb-[20px]">
              <div class="card__config-option flex flex-col gap-y-[5px]">
                <label>Delta P (bar) <span>*</span></label>
                <div class="card__config-select">
                  <select value="defalt" placeholder="Choose an Option">
                    <option value="defalt">Choose on Option...</option>
                    <option value="1/4">1/4''</option>
                    <option value="3/8">3/8''</option>
                    <option value="1/2">1/2''</option>
                    <option value="3/4">3/4''</option>
                    <option value="1">1''</option>
                  </select>
                </div>
              </div>
              <div class="card__config-option flex flex-col gap-y-[5px]">
                <label>Connections <span>*</span></label>
                <div class="card__config-select">
                  <select disabled value="defalt" placeholder="Choose an Option">
                    <option value="defalt">Choose on Option...</option>
                    <option value="1/4">1/4''</option>
                    <option value="3/8">3/8''</option>
                    <option value="1/2">1/2''</option>
                    <option value="3/4">3/4''</option>
                    <option value="1">1''</option>
                  </select>
                </div>
              </div>
              <div class="card__config-option flex flex-col gap-y-[5px]">
                <label>DN <span>*</span></label>
                <div class="card__config-select">
                  <select disabled value="defalt" placeholder="Choose an Option">
                    <option value="defalt">Choose on Option...</option>
                    <option value="1/4">1/4''</option>
                    <option value="3/8">3/8''</option>
                    <option value="1/2">1/2''</option>
                    <option value="3/4">3/4''</option>
                    <option value="1">1''</option>
                  </select>
                </div>
              </div>
              <div class="card__config-option flex flex-col gap-y-[5px]">
                <label>Material <span>*</span></label>
                <div class="card__config-select">
                  <select disabled value="defalt" placeholder="Choose an Option">
                    <option value="defalt">Choose on Option...</option>
                    <option value="1/4">1/4''</option>
                    <option value="3/8">3/8''</option>
                    <option value="1/2">1/2''</option>
                    <option value="3/4">3/4''</option>
                    <option value="1">1''</option>
                  </select>
                </div>
              </div>
            </div>

            <a href="#" class="card__see-all group cursor-pointer inline-flex items-center gap-x-[6px] font-bold text-[16px]">
              <img src="./img/product/info-icon.png" alt="" />

              <span class="relative before:content-[''] before:hover-transition before:absolute before:left-0 before:bottom-0 before:h-[1px] before:w-0 before:bg-black group-hover:before:w-full">See all configuration</span>
            </a>
          </div>

          <div class="card__submit lg:pl-[30px]">
            <div class="card__submit-top mb-[20px]">
              <div class="card__price-block flex flex-col">
                <div class="card__submit-ref">Ref.#.</div>
                <div class="card__price-result flex gap-x-[15px]">
                  <div class="card__price-value">€0,00 <span>ex. VAT</span></div>

                  <div class="card__price-indicative">(INDICATIVE PRICE)</div>
                </div>
              </div>
            </div>

            <div class="card__submit-bottom flex flex-col sm:flex-row gap-[20px]">
              <div class="card__quality inline-flex flex-col items-center">
                <p class="card__qualtu-title text-center text-[14px] mb-[6px]">Quality</p>
                <div class="card__counter w-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold text-[20px] border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold text-[20px] border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </div>
              <div class="card__submit-buttons flex-auto flex flex-col gap-y-[20px]">
                <button class="card__submit-button w-full py-[14px] xl:py-[18px] px-[24px] xl:px-[32px] rounded-[4px] hover-transition text-white font-bold leading-[18px] text-[16px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button>
                <button class="card__submit-button w-full py-[14px] xl:py-[18px] px-[24px] xl:px-[32px] rounded-[4px] hover-transition font-bold leading-[18px] text-[16px] xl:text-[19px] xl:leading-[21px] border-2 border-gray-600 text-gray-600 hover:text-white hover:bg-gray-600 active:border-gray-700 active:bg-gray-700">Ask a Quastion</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
