<section class="configuration mb-[20px]">
  <div class="configuration__wrapper">
    <div class="configuration__container container">
      <div class="configuration__body">
        <h2 class="configuration__title text-[24px] mb-[20px] font-extrabold">See all configurations</h2>

        <div class="configuration__config-table-overflow overflow-auto">
          <div class="configuration__config-table config-table">
            <div class="config-table__row config-table__head">
              <span>Model</span>
              <span>Material</span>
              <span>Connections</span>
              <span>Size</span>
              <span>Ref</span>
              <span>Price</span>
              <span>Quality</span>
            </div>
            <div class="config-table__row">
              <span>DT40/2</span>
              <span>stainless steel</span>
              <span>Threaded</span>
              <span>1/2"</span>
              <span>A.15.1510.015</span>
              <span>€90.64</span>
              <span>
                <div class="w-full h-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </span>
              <span> <button class="configuration__submit-button w-full py-[14px] rounded-[4px] hover-transition text-white font-bold :leading-[16px] text-[14px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button> </span>
            </div>
            <div class="config-table__row">
              <span>DT40/2</span>
              <span>stainless steel</span>
              <span>Threaded</span>
              <span>1/2"</span>
              <span>A.15.1510.015</span>
              <span>€90.64</span>
              <span>
                <div class="w-full h-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </span>
              <span> <button class="configuration__submit-button w-full py-[14px] rounded-[4px] hover-transition text-white font-bold :leading-[16px] text-[14px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button> </span>
            </div>
            <div class="config-table__row">
              <span>DT40/2</span>
              <span>stainless steel</span>
              <span>Threaded</span>
              <span>1/2"</span>
              <span>A.15.1510.015</span>
              <span>€90.64</span>
              <span>
                <div class="w-full h-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </span>
              <span> <button class="configuration__submit-button w-full py-[14px] rounded-[4px] hover-transition text-white font-bold :leading-[16px] text-[14px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button> </span>
            </div>
            <div class="config-table__row">
              <span>DT40/2</span>
              <span>stainless steel</span>
              <span>Threaded</span>
              <span>1/2"</span>
              <span>A.15.1510.015</span>
              <span>€90.64</span>
              <span>
                <div class="w-full h-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </span>
              <span> <button class="configuration__submit-button w-full py-[14px] rounded-[4px] hover-transition text-white font-bold :leading-[16px] text-[14px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button> </span>
            </div>
            <div class="config-table__row">
              <span>DT40/2</span>
              <span>stainless steel</span>
              <span>Threaded</span>
              <span>1/2"</span>
              <span>A.15.1510.015</span>
              <span>€90.64</span>
              <span>
                <div class="w-full h-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </span>
              <span> <button class="configuration__submit-button w-full py-[14px] rounded-[4px] hover-transition text-white font-bold :leading-[16px] text-[14px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button> </span>
            </div>
            <div class="config-table__row">
              <span>DT40/2</span>
              <span>stainless steel</span>
              <span>Threaded</span>
              <span>1/2"</span>
              <span>A.15.1510.015</span>
              <span>€90.64</span>
              <span>
                <div class="w-full h-full max-w-[130px] counter border-[1px] rounded-[4px] counter text-[18px] flex justify-between bg-white" data-quantity>
                  <div class="counter__btn counter__btn_minus _disabled select-none font-bold border-r-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">-</div>
                  <input type="text" class="counter__input text-center px-[10px] py-[5px] w-full" value="2" readonly />
                  <div class="counter__btn counter__btn_plus select-none font-bold border-l-[1px] px-[15px] py-[5px] cursor-pointer hover-transition hover:text-blue-hover active:text-blue-active">+</div>
                </div>
              </span>
              <span> <button class="configuration__submit-button w-full py-[14px] rounded-[4px] hover-transition text-white font-bold :leading-[16px] text-[14px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">Add to Quotation</button> </span>
            </div>
          </div>
        </div>

        <div class="configuration__content flex flex-col items-center mt-[30px] mb-[50px]">
          <div>
            <h3>Description:</h3>
            <p>ADCA DT40/2 series thermodynamic condensate traps are compact, reliable, simple and efficient in operation. They work perfectly in high-pressure systems, and can be used for drainage of steam lines outside the premises. The heat-insulating cover ensures uninterrupted operation and makes the trap suitable for use in such weather conditions as rain and wind, which can negatively affect the operation of the trap. These condensate traps have only one moving element - a stainless steel disc that ensures a clear, tight closure. Do not require adjustment in the entire range of workloads.</p>
          </div>
          <div>
            <h3>Main properties:</h3>
            <ul>
              <li>Intermittent condensate removal.</li>
              <li>Automatic air removal.</li>
              <li>Heat-insulating cover.</li>
              <li>Works on superheated steam.</li>
              <li>Disassembly in not required when replacing the disc and saddle.</li>
              <li>Not susceptible to the effects of water hammer and vibrations.</li>
              <li>Built-in filter that is easy to clean.</li>
            </ul>
          </div>
          <div>
            <h3>Working environments:</h3>
            <p>Satured and superheated steam.</p>
          </div>
          <div>
            <h3>Modification</h3>
            <p>DT40/2 - with a stainless steel case.</p>
          </div>
          <div>
            <h3>Standart sizes:</h3>
            <p>3/8" inch - 1 '' inch; DN 10 - DN 25</p>
          </div>
          <div>
            <h3>Connection:</h3>
            <p>Flanges EN 1092-1 PN40</p>
            <p>ASME B16.5 Class 150 and Class 300 flanges. SW - for butt</p>
            <p>welding ANSI B 16.11. BW - for but welding ANSI B16.25.</p>
          </div>

          <div>
            <h3>Installation position:</h3>
            <p>Installation on a horizontal or vertical pipeline (see installation and operation instructions).</p>
          </div>
          <div>
            <h3>CE marking-Group 2(European PED Directive)</h3>

            <div>
              <table>
                <thead>
                  <th>Nominal pressure</th>
                  <th>Nominal diameters</th>
                  <th>Directive category</th>
                </thead>
                <tbody>
                  <tr>
                    <td>PN 63</td>
                    <td>3/8" - 1"; DN 10 - DN 25</td>
                    <td>SEP</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <h3>Restrictions on use</h3>

            <div>
              <table>
                <thead>
                  <tr>
                    <th>Class 150 flanges **</th>
                    <th>Class 300 flanges **</th>
                    <th>Flanges PN 40*</th>
                    <th>Thread or under welding SW (in the fly ) / BW (in the butt)</th>
                    <th rowspan="2">Estimated temperature</th>
                  </tr>
                  <tr>
                    <th>Allowable pressure</th>
                    <th>Allowable pressure</th>
                    <th>Allowable pressure</th>
                    <th>Allowable pressure</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>There are 15.3</td>
                    <td>There are 39.9</td>
                    <td>There are 40</td>
                    <td>There are 63</td>
                    <td>100℃</td>
                  </tr>
                  <tr>
                    <td>There are 13.3</td>
                    <td>There are 34.4</td>
                    <td>There are 37.9</td>
                    <td>There are 57.3</td>
                    <td>200℃</td>
                  </tr>
                  <tr>
                    <td>There are 11.1</td>
                    <td>There are 28.8</td>
                    <td>There are 31.8</td>
                    <td>There are 47.1</td>
                    <td>250℃</td>
                  </tr>
                  <tr>
                    <td>There are 9.7</td>
                    <td>There are 25.2</td>
                    <td>There are 27.6</td>
                    <td>40.5 bars</td>
                    <td>300℃</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p><em>Maximum working pressure: 40 bar; Max. temperature of the working environment: 300 °C; * According to EN1092-2:2018; ** According to EN1759-1:2004. The housing is designed for PN 63 and below, depending on the chosen type of connection. PN 63 parameters are also valid for threaded connection and SW/BW welding.</em> <strong>Throughput capacity, kg/h</strong></p>
          </div>

          <div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th rowspan="2">Modification</th>
                    <th rowspan="2">Standart dimensions</th>
                    <th colspan="13">Pressure drop, bars</th>
                  </tr>
                  <tr>
                    <th>1.5</th>
                    <th>3</th>
                    <th>5</th>
                    <th>7</th>
                    <th>9</th>
                    <th>12</th>
                    <th>15</th>
                    <th>18</th>
                    <th>21</th>
                    <th>24</th>
                    <th>30</th>
                    <th>35</th>
                    <th>40</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>DT40/2 <br />(Hot)</td>
                    <td>3/8"-1"; DN 10-25</td>
                    <td>70</td>
                    <td>100</td>
                    <td>130</td>
                    <td>175</td>
                    <td>190</td>
                    <td>200</td>
                    <td>225</td>
                    <td>240</td>
                    <td>250</td>
                    <td>270</td>
                    <td>290</td>
                    <td>300</td>
                    <td>310</td>
                  </tr>
                  <tr>
                    <td>DT40/2 <br />(Cold)</td>
                    <td>3/8"-1"; DN 10-25</td>
                    <td>170</td>
                    <td>230</td>
                    <td>300</td>
                    <td>335</td>
                    <td>390</td>
                    <td>435</td>
                    <td>485</td>
                    <td>520</td>
                    <td>575</td>
                    <td>600</td>
                    <td>645</td>
                    <td>695</td>
                    <td>740</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p><em>Minimum working pressure: 1.5 bar;</em></p>
            <p><em>Maximum working back pressure: 80% of the inlet pressure.</em></p>
          </div>

          <div>
            <div><img src="./img/product/1.png" alt="" /> <img src="./img/product/2.png" alt="" /></div>
            <h3>Overall dimensions, mm</h3>
            <div>
              <table>
                <thead>
                  <tr>
                    <th colspan="6">Threaded or under welding SW (in flyleaf) *</th>
                    <th colspan="2">PN 16/40</th>
                    <th colspan="2">Class 150</th>
                    <th colspan="2">Class 300</th>
                  </tr>
                  <tr>
                    <th>Size</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>Weight, kg</th>
                    <th>AND</th>
                    <th>Weight, kg</th>
                    <th>AND</th>
                    <th>Weight, kg</th>
                    <th>AND</th>
                    <th>Weight, kg</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>3/8" -1/2"; DN 10-15</th>
                    <th>75</th>
                    <th>38</th>
                    <th>50</th>
                    <th>89</th>
                    <th>1,06</th>
                    <th>150</th>
                    <th>2,50</th>
                    <th>150</th>
                    <th>2,20</th>
                    <th>150</th>
                    <th>2,60</th>
                  </tr>
                  <tr>
                    <th>3/4"; DN 20</th>
                    <th>75</th>
                    <th>38</th>
                    <th>50</th>
                    <th>89</th>
                    <th>1,06</th>
                    <th>150</th>
                    <th>3,04</th>
                    <th>150</th>
                    <th>2,63</th>
                    <th>150</th>
                    <th>3,55</th>
                  </tr>
                  <tr>
                    <th>1"; DN 25</th>
                    <th>90</th>
                    <th>41</th>
                    <th>50</th>
                    <th>98</th>
                    <th>1,25</th>
                    <th>160</th>
                    <th>3,64</th>
                    <th>160</th>
                    <th>3,43</th>
                    <th>160</th>
                    <th>4,88</th>
                  </tr>
                </tbody>
              </table>
            </div>

            <p><em>* Under butt welding (BW) on request</em></p>
          </div>

          <div>
            <div>
              <img src="./img/product/2.png" alt="" />
            </div>

            <h3>Material specification</h3>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>Pos. No.</th>
                    <th>Detail</th>
                    <th>Material</th>
                    <th>Spare part</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Frame</td>
                    <td>CF8/1.4308</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Cover</td>
                    <td>AISI 304/1.4301;AISI 3030/1.4305</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Consolidation</td>
                    <td>Stainless steel / Graphite</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Saddle</td>
                    <td>Get strongter stainless steel</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Disc</td>
                    <td>Get strongter stainless steel</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Bimetallic ring</td>
                    <td>Bimetal</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Puck</td>
                    <td>AISI 304/1.4301</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Tube</td>
                    <td>AISI 304/1.4301</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>Filter</td>
                    <td>AISI 304/1.4301</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Consolidation</td>
                    <td>Stainless steel / Graphite</td>
                    <td><strong>X</strong></td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Cork</td>
                    <td>AISI 304/1.4301;AISI 303/1.4305</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Heat-insulating cover</td>
                    <td>AISI 304/1.4301</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p>
              <em><strong>Note:</strong> Avaible (to order) spare parts are marked with " <strong>X</strong> ".</em>
            </p>
          </div>
        </div>

        <div class="configuration__documentation mb-[30px] py-[15px] border-y-[1px] border-gray-300">
          <h3 class="configuration__documentation-title text-[20px] font-extrabold mb-[5px]">Documentation</h3>
          <h4 class="configuration__subtitle text-[14px] text-gray-500 mb-[10px]">Technical data sheet(s)</h4>
          <ul class="configuration__documentation-files flex flex-wrap gap-[20px]">
            <li class="w-full max-w-[155px]">
              <a href="#" class="flex gap-x-[16px] items-center leading-[16px] text-[14px] hover-transition underline text-turquoise-normal hover:text-turquoise-hover active:text-turquoise-active">
                <img class="w-full max-w-[36px]" src="./img/product/file.png" alt="" />
                <div class="flex flex-col">
                  <p>Завантажити повний опис DT40-2 ADCA.pdf <span>807kb</span></p>
                </div>
              </a>
            </li>
            <li class="w-full max-w-[155px]">
              <a href="#" class="flex gap-x-[16px] items-center leading-[16px] text-[14px] hover-transition underline text-turquoise-normal hover:text-turquoise-hover active:text-turquoise-active">
                <img class="w-full max-w-[36px]" src="./img/product/file.png" alt="" />
                <div class="flex flex-col">
                  <p>Завантажити повний опис DT40-2 ADCA.pdf <span>807kb</span></p>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <button class="configuration__back text-[16px] font-medium py-[4px] px-[8px] rounded-[5px] text-white hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active inline-block">← Back to list</button>
      </div>
    </div>
  </div>
</section>
