<div class="fixed z-[100] flex justify-end container h-0 bottom-0 xl:top-0 left-1/2 -translate-x-1/2">
  <div class="flex absolute bottom-0 xl:top-0 right-0 xl:flex-col w-full sm:max-w-[360px] xl:max-w-[180px] xl:items-end translate-y-[1px] xl:translate-y-[-2px]">
    <a href="./basket.html" class="flex justify-center items-center bg-purple-normal py-[12px] w-full hover-transition group hover:bg-purple-hover active:bg-purple-active">
      <span class="relative inline-block">
        <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
            <path d="M38 14H10a2 2 0 0 0-2 2v26a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V16a2 2 0 0 0-2-2" />
            <path d="M17 18v-7a7 7 0 1 1 14 0v7" />
          </g>
        </svg>
        <span class="absolute text-white top-0 -translate-y-1/2 left-full">2</span>
      </span>
    </a>
    <button data-popup="about-popup" class="popup-open bg-blue-normal py-[12px] w-full hover-transition group hover:bg-blue-hover active:bg-blue-active">
      <span class="relative inline-flex gap-x-[10px]">
        <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 15 15">
          <path fill="currentColor" fill-rule="evenodd" d="M0 1.5C0 .67.671 0 1.5 0h12c.829 0 1.5.67 1.5 1.5v8.994c0 .829-.671 1.499-1.5 1.499H7.667L3.8 14.89a.5.5 0 0 1-.8-.4v-2.498H1.5c-.829 0-1.5-.67-1.5-1.5zm4 2.497h7v1H4zm0 2.998h5v1H4z" clip-rule="evenodd" />
        </svg>
        <span class="text-white font-bold">Feedback</span>
      </span>
    </button>
  </div>
</div>
