<header class="header">
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="header__body flex flex-col">
        <div class="header__top flex py-[10px] gap-x-[60px]">
          <a href="#" class="header__link text-[14px] underline text-link-blue-normal">Public offer</a>
          <a href="#" class="header__link text-[14px] underline text-link-blue-normal">Prima Steam - Relible supplier for your flow control!</a>
        </div>
        <div class="header__main flex justify-start py-[20px] gap-x-[30px]">
          <div class="header__logo flex items-center gap-x-[15px]">
            <img class="w-full max-w-[140px]" src="./img/global/logo.png" alt="" />
            <p class="header__logo-span font-bold leading-[1rem] text-base text-gray-600 pl-[15px] relative after:content-[''] after:absolute after:left-0 after:top-0 after:w-[3px] after:h-full after:bg-gray-600">
              Best for
              <br />
              steam <br />
              solutions
            </p>
          </div>

          <div class="header__search w-full max-w-[315px]">
            <input class="w-full px-[15px] py-[18px] border-[1px] border-black text-base leading-[16px] rounded-[12px]" type="text" placeholder="Search by name, product or brand" />
          </div>
          <div class="header__contact flex flex-col justify-center">
            <span class="text-gray-400 text-[12px]">Write to us</span>
            <a href="mailto:info@prima-steam.com" class="text-black font-bold text-[14px] hover-transition hover:text-blue-normal">info@prima-steam.com</a>
          </div>
          <div class="header__contact flex flex-col justify-center">
            <span class="text-gray-400 text-[12px]">Poland: 9:00 - 18:00</span>

            <span class="flex items-center gap-x-[10px]">
              <a href="tel:+10000000000" class="text-black felx items-center font-bold text-[14px] hover-transition hover:text-blue-normal">+1 (000) 000-00-00</a>
              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L11 1" stroke="#2C4C59" stroke-width="2" />
              </svg>
            </span>
          </div>
        </div>
        <nav class="header__nav flex justify-around">
          <div class="header__nav-item px-[20px] py-[10px] hover-transition hover:bg-blue-light">
            <div class="flex items-center gap-x-[12px]">
              <span class="font-bold text-[16px]">Products</span>
              <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L6.5 6.5L11.5 1.5" stroke="#2C4C59" stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="header__nav-item px-[20px] py-[10px] hover-transition hover:bg-blue-light">
            <div class="flex items-center gap-x-[12px]">
              <span class="font-bold text-[16px]">Services</span>
              <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L6.5 6.5L11.5 1.5" stroke="#2C4C59" stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="header__nav-item px-[20px] py-[10px] hover-transition hover:bg-blue-light">
            <div class="flex items-center gap-x-[12px]">
              <span class="font-bold text-[16px]">About Company</span>
              <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L6.5 6.5L11.5 1.5" stroke="#2C4C59" stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="header__nav-item px-[20px] py-[10px] hover-transition hover:bg-blue-light">
            <div class="flex items-center gap-x-[12px]">
              <span class="font-bold text-[16px]">News & Events</span>
              <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L6.5 6.5L11.5 1.5" stroke="#2C4C59" stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="header__nav-item px-[20px] py-[10px] hover-transition hover:bg-blue-light">
            <div class="flex items-center gap-x-[12px]">
              <span class="font-bold text-[16px]">Contacts</span>
              <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L6.5 6.5L11.5 1.5" stroke="#2C4C59" stroke-width="2" />
              </svg>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
