<section class='products'>
  <div class='products__wrapper'>
    <div class='products__container container'>
      <div class='products__body pt-[50px] '>
        <h2 class="products__title title mb-[35px]">Featured Products</h2>


        <div class="products__slider swiper pb-[35px]">
          <div class="swiper-wrapper">
            <div class="products__card swiper-slide flex flex-col items-center py-[26px] px-[35px] bg-gray-100">
              <h3 class="products__card-title">Valesteam ADCA</h3>

              <img src="./img/products/1.png" alt="" class="products__card-img w-full mb-[25px]">

              <p class="products__card-code text-[14px] text-gray-500 mb-[30px]">
                Product code:
                <span class="products__card-code-value text-black">A.10.0213</span>
              </p>

              <div
                class="products__card-block flex flex-col gap-y-[15px] items-center mb-[15px] py-[25px] w-full border-[1px] border-gray-600">
                <div class="products__card-dimension text-center text-[14px] text-black">
                  Dimension:
                  <br>
                  1/2"-1"; DN15-DN25
                </div>
                <div class="products__card-price text-center text-base font-bold">
                  Buy price from
                  <br>
                  <span>€204.02</span>
                </div>
              </div>

              <div
                class="products__card-avaible mb-[20px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">
                Avaible to Order</div>

              <button
                class="products__card-button py-[18px] px-[32px] rounded-[14px] hover-transition text-white font-bold text-[19px] leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More
                about the product</button>
            </div>
            <div class="products__card swiper-slide flex flex-col items-center py-[26px] px-[35px] bg-gray-100">
              <h3 class="products__card-title">Valesteam ADCA</h3>

              <img src="./img/products/1.png" alt="" class="products__card-img w-full mb-[25px]">

              <p class="products__card-code text-[14px] text-gray-500 mb-[30px]">
                Product code:
                <span class="products__card-code-value text-black">A.10.0213</span>
              </p>

              <div
                class="products__card-block flex flex-col gap-y-[15px] items-center mb-[15px] py-[25px] w-full border-[1px] border-gray-600">
                <div class="products__card-dimension text-center text-[14px] text-black">
                  Dimension:
                  <br>
                  1/2"-1"; DN15-DN25
                </div>
                <div class="products__card-price text-center text-base font-bold">
                  Buy price from
                  <br>
                  <span>€204.02</span>
                </div>
              </div>

              <div
                class="products__card-avaible mb-[20px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">
                Avaible to Order</div>

              <button
                class="products__card-button py-[18px] px-[32px] rounded-[14px] hover-transition text-white font-bold text-[19px] leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More
                about the product</button>
            </div>
            <div class="products__card swiper-slide flex flex-col items-center py-[26px] px-[35px] bg-gray-100">
              <h3 class="products__card-title">Valesteam ADCA</h3>

              <img src="./img/products/1.png" alt="" class="products__card-img w-full mb-[25px]">

              <p class="products__card-code text-[14px] text-gray-500 mb-[30px]">
                Product code:
                <span class="products__card-code-value text-black">A.10.0213</span>
              </p>

              <div
                class="products__card-block flex flex-col gap-y-[15px] items-center mb-[15px] py-[25px] w-full border-[1px] border-gray-600">
                <div class="products__card-dimension text-center text-[14px] text-black">
                  Dimension:
                  <br>
                  1/2"-1"; DN15-DN25
                </div>
                <div class="products__card-price text-center text-base font-bold">
                  Buy price from
                  <br>
                  <span>€204.02</span>
                </div>
              </div>

              <div
                class="products__card-avaible mb-[20px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">
                Avaible to Order</div>

              <button
                class="products__card-button py-[18px] px-[32px] rounded-[14px] hover-transition text-white font-bold text-[19px] leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More
                about the product</button>
            </div>
            <div class="products__card swiper-slide flex flex-col items-center py-[26px] px-[35px] bg-gray-100">
              <h3 class="products__card-title">Valesteam ADCA</h3>

              <img src="./img/products/1.png" alt="" class="products__card-img w-full mb-[25px]">

              <p class="products__card-code text-[14px] text-gray-500 mb-[30px]">
                Product code:
                <span class="products__card-code-value text-black">A.10.0213</span>
              </p>

              <div
                class="products__card-block flex flex-col gap-y-[15px] items-center mb-[15px] py-[25px] w-full border-[1px] border-gray-600">
                <div class="products__card-dimension text-center text-[14px] text-black">
                  Dimension:
                  <br>
                  1/2"-1"; DN15-DN25
                </div>
                <div class="products__card-price text-center text-base font-bold">
                  Buy price from
                  <br>
                  <span>€204.02</span>
                </div>
              </div>

              <div
                class="products__card-avaible mb-[20px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">
                Avaible to Order</div>

              <button
                class="products__card-button py-[18px] px-[32px] rounded-[14px] hover-transition text-white font-bold text-[19px] leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More
                about the product</button>
            </div>
            <div class="products__card swiper-slide flex flex-col items-center py-[26px] px-[35px] bg-gray-100">
              <h3 class="products__card-title">Valesteam ADCA</h3>

              <img src="./img/products/1.png" alt="" class="products__card-img w-full mb-[25px]">

              <p class="products__card-code text-[14px] text-gray-500 mb-[30px]">
                Product code:
                <span class="products__card-code-value text-black">A.10.0213</span>
              </p>

              <div
                class="products__card-block flex flex-col gap-y-[15px] items-center mb-[15px] py-[25px] w-full border-[1px] border-gray-600">
                <div class="products__card-dimension text-center text-[14px] text-black">
                  Dimension:
                  <br>
                  1/2"-1"; DN15-DN25
                </div>
                <div class="products__card-price text-center text-base font-bold">
                  Buy price from
                  <br>
                  <span>€204.02</span>
                </div>
              </div>

              <div
                class="products__card-avaible mb-[20px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">
                Avaible to Order</div>

              <button
                class="products__card-button py-[18px] px-[32px] rounded-[14px] hover-transition text-white font-bold text-[19px] leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More
                about the product</button>
            </div>
            <div class="products__card swiper-slide flex flex-col items-center py-[26px] px-[35px] bg-gray-100">
              <h3 class="products__card-title">Valesteam ADCA</h3>

              <img src="./img/products/1.png" alt="" class="products__card-img w-full mb-[25px]">

              <p class="products__card-code text-[14px] text-gray-500 mb-[30px]">
                Product code:
                <span class="products__card-code-value text-black">A.10.0213</span>
              </p>

              <div
                class="products__card-block flex flex-col gap-y-[15px] items-center mb-[15px] py-[25px] w-full border-[1px] border-gray-600">
                <div class="products__card-dimension text-center text-[14px] text-black">
                  Dimension:
                  <br>
                  1/2"-1"; DN15-DN25
                </div>
                <div class="products__card-price text-center text-base font-bold">
                  Buy price from
                  <br>
                  <span>€204.02</span>
                </div>
              </div>

              <div
                class="products__card-avaible mb-[20px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">
                Avaible to Order</div>

              <button
                class="products__card-button py-[18px] px-[32px] rounded-[14px] hover-transition text-white font-bold text-[19px] leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More
                about the product</button>
            </div>
          </div>
          <div class="products__button-pagination swiper-pagination"></div>
          <div
            class="products__button-prev swiper-button-prev hover-transition text-dark-normal hover:text-dark-hover active:text-dark-active left-0">
          </div>
          <div
            class="products__button-next swiper-button-next hover-transition text-dark-normal hover:text-dark-hover active:text-dark-active right-0">
          </div>

        </div>

      </div>
    </div>
  </div>
</section>