<section class="banner">
  <div class="banner__wrapper">
    <div class="banner__container container">
      <div class="banner__body">
        <div class="banner__head border-b-[1px] border-turquoise-normal pb-[20px]">
          <div class="banner__title mb-[25px] py-[130px] text-center text-[30px] leading-[33px] sm:text-[50px] sm:leading-[44px] md:text-[50px] md:leading-[55px] font-bold relative bg-black/70 text-white">
            <img class="absolute left-0 top-0 w-full h-full -z-10 object-cover" src="./img/responsibility/bg.jpg" alt="" />
            Products
          </div>

          <button class="banner__button font-bold text-[18px] text-gray-600 px-[15px] py-[8px] border-2 border-gray-600 rounded-[5px] hover-transition hover:bg-gray-600 hover:text-white">Ask a question to a specialist →</button>
        </div>
      </div>
    </div>
  </div>
</section>
