<section class="cards mt-[35px] mb-[80px]">
  <div class="cards__wrapper">
    <div class="cards__container container">
      <div class="cards__body">
        <div class="cards__main mb-[40px] grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[20px]">
          <div class="cards__card border-[1px] border-gray-200 p-[20px] w-full" data-spollers>
            <div class="cards__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
              <img class="float-end w-full max-w-[50%]" src="./img/catalog/1.png" alt="" />
              <h3 class="cards__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold">
                Steam traps</h3>

              <p class="cards__card-text text-[12px] md:text-[14px]">One of the widest ranges of steam traps on the
                market with standard and custom solutions that guarantee the highest efficiency of your steam system.
              </p>
            </div>

            <ul class="cards__card-list mb-[25px] flex flex-col gap-y-[8px]">
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Float
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Bimetal
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermodynamic
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermostatic
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Steam
                  traps for compressed air systems </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related
                  equipment </a></li>
            </ul>

            <div data-spoller
              class="cards__spoller text-gray-800 flex items-center justify-between text-[16px] md:text-[20px] font-bold">
              <span class="inline-flex items-center gap-x-[15px]">
                View all
                <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L8 8L15 1" stroke="#31473B" stroke-width="2" />
                </svg>
              </span>

              <span class="text-[14px] text-gray-400">8 positions</span>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, consequatur!</p>
          </div>
          <div class="cards__card border-[1px] border-gray-200 p-[20px] w-full" data-spollers>
            <div class="cards__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
              <img class="float-end w-full max-w-[50%]" src="./img/catalog/1.png" alt="" />
              <h3 class="cards__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold">
                Steam traps</h3>

              <p class="cards__card-text text-[12px] md:text-[14px]">One of the widest ranges of steam traps on the
                market with standard and custom solutions that guarantee the highest efficiency of your steam system.
              </p>
            </div>

            <ul class="cards__card-list mb-[25px] flex flex-col gap-y-[8px]">
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Float
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Bimetal
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermodynamic
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermostatic
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Steam
                  traps for compressed air systems </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related
                  equipment </a></li>
            </ul>

            <div data-spoller
              class="cards__spoller text-gray-800 flex items-center gap-x-[15px] text-[16px] md:text-[20px] font-bold">
              View all
              <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L15 1" stroke="#31473B" stroke-width="2" />
              </svg>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, consequatur!</p>
          </div>
          <div class="cards__card border-[1px] border-gray-200 p-[20px] w-full" data-spollers>
            <div class="cards__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
              <img class="float-end w-full max-w-[50%]" src="./img/catalog/1.png" alt="" />
              <h3 class="cards__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold">
                Steam traps</h3>

              <p class="cards__card-text text-[12px] md:text-[14px]">One of the widest ranges of steam traps on the
                market with standard and custom solutions that guarantee the highest efficiency of your steam system.
              </p>
            </div>

            <ul class="cards__card-list mb-[25px] flex flex-col gap-y-[8px]">
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Float
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Bimetal
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermodynamic
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermostatic
                  steam traps </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Steam
                  traps for compressed air systems </a></li>
              <li><a href="#"
                  class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related
                  equipment </a></li>
            </ul>

            <div data-spoller
              class="cards__spoller text-gray-800 flex items-center gap-x-[15px] text-[16px] md:text-[20px] font-bold">
              View all
              <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L15 1" stroke="#31473B" stroke-width="2" />
              </svg>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, consequatur!</p>
          </div>
        </div>

        <p class="cards__text text-[20px] sm:px-[20px] text-[16px] sm:text-gray-500 leading-[18px] sm:leading-[24px]">
          Condensate is the result of the transition of a liquid from a vaporous state to a liquid state, due to the
          loss of heat by the steam. This physical phenomenon can have a negative impact on the equipment, causing water
          hammer, power loss and deterioration of the working substances. To prevent this, you need to install a steam
          trap.</p>
      </div>
    </div>
  </div>
</section>