<section class="catalog mb-[50px]">
  <div class="catalog__wrapper">
    <div class="catalog__container container">
      <div class="catalog__body">
        <span class="catalog__result font-bold text-[12px] mb-[15px]"> We found <span class="text-turquoise-normal">3 products</span></span>
        <h2 class="catalog__title font-bold text-[26px] leading-[28px] md:text-[30px] md:leading-[32px] lg:text-[35px] lg:leading-[37px] xl:text-[40px] xl:leading-[42px] mb-[30px]">Thermodynamic steam traps</h2>
        <div class="catalog__main flex gap-y-[15px] gap-x-[40px] pt-[20px] border-t-[1px] border-gray-400">
          <div id="filter-menu-backward" class="lg:hidden w-full h-full transition-opacity fixed bg-black/50 top-0 -left-full z-[100] opacity-0"></div>
          <div class="catalog__filter overflow-auto z-[100] lg:z-0 top-0 -left-full transition-all h-full px-[10px] py-[30px] lg:p-0 fixed lg:static bg-white w-full sm:max-w-[270px] xl:max-w-[230px] flex flex-col" data-spollers>
            <button id="filter-back" class="absolute top-[30px] right-[10px] lg:hidden px-[3px]">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L17.94 6M18 18L6.06 6" /></svg>
            </button>

            <div class="flex flex-col gap-y-[25px] flex-auto">
              <h4 class="catalog__filter-title text-[24px] font-bold">Refine</h4>

              <div class="catalog__filter-spoller">
                <button class="text-left w-full pb-[10px] flex gap-x-[10px] items-center justify-between _active" data-spoller>
                  <span class="font-bold text-[14px]">Brand</span>
                  <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.5L8 2L15 8.5" stroke="black" stroke-width="2" />
                  </svg>
                </button>

                <div>
                  <ul class="py-[10px] border-t-[1px] border-black flex flex-col gap-y-[10px]">
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="valsteam" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="valsteam" class="text-[15px]">Valsteam ADCA <span class="text-gray-600">(2)</span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="catalog__filter-spoller">
                <button class="text-left w-full pb-[10px] flex gap-x-[10px] items-center justify-between _active" data-spoller>
                  <span class="font-bold text-[14px]">Material</span>
                  <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.5L8 2L15 8.5" stroke="black" stroke-width="2" />
                  </svg>
                </button>

                <div>
                  <ul class="py-[10px] border-t-[1px] border-black flex flex-col gap-y-[10px]">
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="carbon" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="carbon" class="text-[15px]">Carbon Steel <span class="text-gray-600">(12)</span></label>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="iron" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label id="iron" class="text-[15px]">Cast Iron <span class="text-gray-600">(9)</span></label>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="ductile" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label id="ductile" class="text-[15px]">Ductile Iron <span class="text-gray-600">(12)</span></label>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="forge" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <span id="forge" class="text-[15px]">Forged Steel <span class="text-gray-600">(12)</span></span>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="stainless" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="stainless" class="text-[15px]">Stainless Steel <span class="text-gray-600">(5)</span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="catalog__filter-spoller">
                <button class="text-left w-full pb-[10px] flex gap-x-[10px] items-center justify-between _active" data-spoller>
                  <span class="font-bold text-[14px]">Connections</span>
                  <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.5L8 2L15 8.5" stroke="black" stroke-width="2" />
                  </svg>
                </button>

                <div>
                  <ul class="py-[10px] border-t-[1px] border-black flex flex-col gap-y-[10px]">
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="flanged" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="flanged" class="text-[15px]">Flanged <span class="text-gray-600">(1)</span></label>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="socket" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="socket" class="text-[15px]">Socket weld <span class="text-gray-600">(5)</span></label>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="threaded" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="threaded" class="text-[15px]">Female threaded <span class="text-gray-600">(6)</span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="catalog__filter-spoller">
                <button class="text-left w-full pb-[10px] flex gap-x-[10px] items-center justify-between _active" data-spoller>
                  <span class="font-bold text-[14px]">Max. operating temperature</span>
                  <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.5L8 2L15 8.5" stroke="black" stroke-width="2" />
                  </svg>
                </button>

                <div>
                  <ul class="py-[10px] border-t-[1px] border-black flex flex-col gap-y-[10px]">
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="300" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="300" class="text-[15px]">300℃ <span class="text-gray-600">(9)</span></label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="catalog__filter-spoller">
                <button class="text-left w-full pb-[10px] flex gap-x-[10px] items-center justify-between _active" data-spoller>
                  <span class="font-bold text-[14px]">Max. operating pressure</span>
                  <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.5L8 2L15 8.5" stroke="black" stroke-width="2" />
                  </svg>
                </button>

                <div>
                  <ul class="py-[10px] border-t-[1px] border-black flex flex-col gap-y-[10px]">
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="40" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="40" class="text-[15px]">40 bar <span class="text-gray-600">(1)</span></label>
                    </li>
                    <li class="flex items-center gap-x-[12px]">
                      <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative">
                          <input type="checkbox" class="peer h-[28px] w-[28px] cursor-pointer transition-all appearance-none rounded-[6px] shadow hover:shadow-md border-[1px] border-turquoise-normal checked:bg-link-blue-normal checked:border-link-blue-normal" id="42" />
                          <span class="absolute text-white opacity-0 peer-checked:opacity-100 w-1/2 h-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
                            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                          </span>
                        </label>
                      </div>
                      <label for="42" class="text-[15px]">42 <span class="text-gray-600">(1)</span></label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog__result w-full">
            <div class="catalog__result-head flex gap-[10px] flex-col sm:flex-row justify-between items-start sm:items-center">
              <button id="filter-menu" class="flex lg:hidden text-white font-bold text-[14px] leading-[16px] items-center gap-x-[10px] rounded-[5px] p-[8px_20px] justify-center hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20"><path fill="currentColor" d="M15 19.88c.04.3-.06.62-.29.83a.996.996 0 0 1-1.41 0L9.29 16.7a.99.99 0 0 1-.29-.83v-5.12L4.21 4.62a1 1 0 0 1 .17-1.4c.19-.14.4-.22.62-.22h14c.22 0 .43.08.62.22a1 1 0 0 1 .17 1.4L15 10.75zM7.04 5L11 10.06v5.52l2 2v-7.53L16.96 5z" /></svg>

                Filter
              </button>
              <span class="hidden md:inline text-[12px]">Show 1 - 2 of 183 products</span>

              <div class="w-full sm:w-auto flex flex-col sm:flex-row sm:items-center gap-y-[10px] gap-x-[30px]">
                <div class="flex items-center">
                  <span class="text-[12px] mr-[10px]">Show:</span>

                  <div class="select text-[12px] w-full">
                    <span class="select-button bg-[#F8F8F8] w-full border-[1px] border-turquoise-normal rounded-[4px] cursor-pointer px-[20px] py-[10px] gap-x-[40px] flex items-center justify-between">
                      <span class="select-value"> 24 per page </span>

                      <svg class="transition-all" width="14" height="8" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="#31473B" stroke-width="2" />
                      </svg>
                    </span>

                    <ul class="select-list bg-white shadow-lg translate-y-[2px] border-[1px] border-turquoise-normal p-[4px_6px] rounded-[4px]">
                      <li class="select-option p-[4px_8px] hover-transition hover:bg-blue-100 rounded-[4px]">6 per page</li>
                      <li class="select-option p-[4px_8px] hover-transition hover:bg-blue-100 rounded-[4px]">10 per page</li>
                      <li class="select-option p-[4px_8px] hover-transition hover:bg-blue-100 rounded-[4px]">12 per page</li>
                    </ul>
                  </div>
                </div>

                <div class="flex items-center">
                  <span class="text-[12px] mr-[10px]">Sort:</span>

                  <div class="select text-[12px] w-full">
                    <span class="select-button bg-[#F8F8F8] w-full border-[1px] border-turquoise-normal rounded-[4px] cursor-pointer px-[20px] py-[10px] gap-x-[40px] flex items-center justify-between">
                      <span class="select-value"> Relevance </span>

                      <svg class="transition-all" width="14" height="8" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="#31473B" stroke-width="2" />
                      </svg>
                    </span>

                    <ul class="select-list bg-white shadow-lg translate-y-[2px] border-[1px] border-turquoise-normal p-[4px_6px] rounded-[4px]">
                      <li class="select-option p-[4px_8px] hover-transition hover:bg-blue-100 rounded-[4px]">Brand</li>
                      <li class="select-option p-[4px_8px] hover-transition hover:bg-blue-100 rounded-[4px]">Date</li>
                      <li class="select-option p-[4px_8px] hover-transition hover:bg-blue-100 rounded-[4px]">Relevance</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <ul class="catalog__result-list flex flex-col gap-y-[10px] mt-[20px]">
              <li class="flex flex-col lg:flex-row gap-x-[30px] gap-y-[15px] bg-[#F8F8F8] sm:*:p-[25px_35px]">
                <div class="flex flex-col items-center gap-y-[10px]">
                  <h4 class="text-[16px] mb-[10px] text-gray-600">Valsteam ADCA</h4>
                  <img class="w-full max-w-[200px]" src="./img/products/1.png" alt="" />

                  <p class="text-gray-600 text-[16px]">Product code: <span class="text-black">A.10.0213</span></p>
                </div>

                <div class="flex-auto flex flex-col xl:flex-row flex-wrap gap-y-[15px] gap-x-[30px]">
                  <div class="flex-auto">
                    <h4 class="font-bold leading-[20px] text-[18px] lg:leading-[24px] lg:text-[22px] mb-[20px]">Thermodynamic steam traps DT40/2</h4>

                    <ul class="w-full text-[14px] text-right">
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Material</strong></span>
                        <span>нержавiюча сталь</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Use</strong></span>
                        <span>конденсат, пар</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Connections</strong></span>
                        <span>рiзьбове; фланцеве; пiд приварбвання</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Material</strong></span>
                        <span>Нержавiюча сталь</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Max. operating pressure</strong></span>
                        <span>40 бар</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Max. operating temperature</strong></span>
                        <span>300℃</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Flow rate capacity</strong></span>
                        <span>740 кг/год</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Nominal pressure</strong></span>
                        <span>PN63 / Class 300</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong></strong></span>
                        <span>1,5 бар</span>
                      </li>
                    </ul>
                  </div>

                  <div class="w-full xl:max-w-[30%] flex flex-col items-center">
                    <div class="flex flex-col gap-y-[15px] items-center mb-[15px] px-[10px] py-[25px] border-[1px] border-gray-500 rounded-[10px]">
                      <div class="text-center text-[14px] text-black">
                        Dimension:
                        <br />
                        1/2"-1"; DN15-DN25
                      </div>
                      <div class="text-center leading-[18px] text-[16px] xl:leading-[22px] xl:text-[20px] font-bold">Price according to configuration</div>
                    </div>

                    <div class="mb-[20px] leading-[21px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">Avaible to Order</div>

                    <button class="py-[14px] xl:py-[18px] px-[24px] xl:px-[32px] rounded-[14px] hover-transition text-white font-bold leading-[18px] text-[16px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More about the product</button>
                  </div>
                </div>
              </li>
              <li class="flex flex-col lg:flex-row gap-x-[30px] gap-y-[15px] bg-[#F8F8F8] sm:*:p-[25px_35px]">
                <div class="flex flex-col items-center gap-y-[10px]">
                  <h4 class="text-[16px] mb-[10px] text-gray-600">Valsteam ADCA</h4>
                  <img class="w-full max-w-[200px]" src="./img/products/1.png" alt="" />

                  <p class="text-gray-600 text-[16px]">Product code: <span class="text-black">A.10.0213</span></p>
                </div>

                <div class="flex-auto flex flex-col xl:flex-row flex-wrap gap-y-[15px] gap-x-[30px]">
                  <div class="flex-auto">
                    <h4 class="font-bold leading-[20px] text-[18px] lg:leading-[24px] lg:text-[22px] mb-[20px]">Thermodynamic steam traps DT40/2</h4>

                    <ul class="w-full text-[14px] text-right">
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Material</strong></span>
                        <span>нержавiюча сталь</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Use</strong></span>
                        <span>конденсат, пар</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Connections</strong></span>
                        <span>рiзьбове; фланцеве; пiд приварбвання</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Material</strong></span>
                        <span>Нержавiюча сталь</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Max. operating pressure</strong></span>
                        <span>40 бар</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Max. operating temperature</strong></span>
                        <span>300℃</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Flow rate capacity</strong></span>
                        <span>740 кг/год</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Nominal pressure</strong></span>
                        <span>PN63 / Class 300</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong></strong></span>
                        <span>1,5 бар</span>
                      </li>
                    </ul>
                  </div>

                  <div class="w-full xl:max-w-[30%] flex flex-col items-center">
                    <div class="flex flex-col gap-y-[15px] items-center mb-[15px] px-[10px] py-[25px] border-[1px] border-gray-500 rounded-[10px]">
                      <div class="text-center text-[14px] text-black">
                        Dimension:
                        <br />
                        1/2"-1"; DN15-DN25
                      </div>
                      <div class="text-center leading-[18px] text-[16px] xl:leading-[22px] xl:text-[20px] font-bold">Price according to configuration</div>
                    </div>

                    <div class="mb-[20px] leading-[21px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">Immediately Avaible</div>

                    <button class="py-[14px] xl:py-[18px] px-[24px] xl:px-[32px] rounded-[14px] hover-transition text-white font-bold leading-[18px] text-[16px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More about the product</button>
                  </div>
                </div>
              </li>
              <li class="flex flex-col lg:flex-row gap-x-[30px] gap-y-[15px] bg-[#F8F8F8] sm:*:p-[25px_35px]">
                <div class="flex flex-col items-center gap-y-[10px]">
                  <h4 class="text-[16px] mb-[10px] text-gray-600">Valsteam ADCA</h4>
                  <img class="w-full max-w-[200px]" src="./img/products/1.png" alt="" />

                  <p class="text-gray-600 text-[16px]">Product code: <span class="text-black">A.10.0213</span></p>
                </div>

                <div class="flex-auto flex flex-col xl:flex-row flex-wrap gap-y-[15px] gap-x-[30px]">
                  <div class="flex-auto">
                    <h4 class="font-bold leading-[20px] text-[18px] lg:leading-[24px] lg:text-[22px] mb-[20px]">Thermodynamic steam traps DT40/2</h4>

                    <ul class="w-full text-[14px] text-right">
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Material</strong></span>
                        <span>нержавiюча сталь</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Use</strong></span>
                        <span>конденсат, пар</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Connections</strong></span>
                        <span>рiзьбове; фланцеве; пiд приварбвання</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Material</strong></span>
                        <span>Нержавiюча сталь</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Max. operating pressure</strong></span>
                        <span>40 бар</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Max. operating temperature</strong></span>
                        <span>300℃</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Flow rate capacity</strong></span>
                        <span>740 кг/год</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong>Nominal pressure</strong></span>
                        <span>PN63 / Class 300</span>
                      </li>
                      <li class="flex justify-between gap-x-[15px] items-center border-b-[1px] border-gray-400">
                        <span><strong></strong></span>
                        <span>1,5 бар</span>
                      </li>
                    </ul>
                  </div>

                  <div class="w-full xl:max-w-[30%] flex flex-col items-center">
                    <div class="flex flex-col gap-y-[15px] items-center mb-[15px] px-[10px] py-[25px] border-[1px] border-gray-500 rounded-[10px]">
                      <div class="text-center text-[14px] text-black">
                        Dimension:
                        <br />
                        1/2"-1"; DN15-DN25
                      </div>
                      <div class="text-center leading-[18px] text-[16px] xl:leading-[22px] xl:text-[20px] font-bold">Price according to configuration</div>
                    </div>

                    <div class="mb-[20px] leading-[21px] text-[19px] font-bold relative flex items-center gap-x-[8px] before:content-[''] before:w-[15px] before:h-[15px] before:rounded-full before:bg-blue-normal">Avaible to Order</div>

                    <button class="py-[14px] xl:py-[18px] px-[24px] xl:px-[32px] rounded-[14px] hover-transition text-white font-bold leading-[18px] text-[16px] xl:text-[19px] xl:leading-[21px] bg-blue-normal hover:bg-blue-hover active:bg-blue-active">More about the product</button>
                  </div>
                </div>
              </li>
            </ul>

            <div class="catalog__pagination mt-[30px] flex items-center justify-center sm:justify-start gap-x-[10px]">
              <button class="catalog__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] gap-x-[8px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
                <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM17 3.5L1 3.5L1 4.5L17 4.5L17 3.5Z" fill="currentColor" />
                </svg>
                <span class="hidden sm:inline">Back to list</span>
              </button>
              <button class="catalog__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">1</button>
              <button class="catalog__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-transparent hover:bg-blue-hover active:bg-blue-active text-black hover:text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">2</button>
              <button class="catalog__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] bg-transparent text-black">...</button>
              <button class="catalog__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-transparent hover:bg-blue-hover active:bg-blue-active text-black hover:text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">27</button>
              <button class="catalog__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
                <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM16 3.5L0 3.5L0 4.5L16 4.5L16 3.5Z" fill="currentColor" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
