<section class="banner relative bg-gradient-to-r from-black/95 to-black/20">
  <img class="w-full max-w-full top-0 left-[10%] absolute z-[-1] h-full max-h-full object-cover" src="./img/mainBanner/bg.png" alt="" />
  <div class="banner__wrapper">
    <div class="banner__container container">
      <div class="banner__body pt-[60px] md:pt-[115px] pb-[50px] md:pb-[100px]">
        <h1 class="banner__title text-[25px] md:text-[31px] mb-[20px] md:mb-[35px] font-bold text-white">Search over 10K products</h1>

        <p class="banner__text text-white text-[16px] leading-[16px] mb-[20px] md:mb-[35px] max-w-[550px]">Tens of thousands of high quality valves, actuators and ancillary related products all available for worldwide shipping on incoterms that suit you.</p>

        <form action="#" class="banner__form flex w-full flex-col gap-y-[10px] sm:flex-row max-w-[550px]">
          <input type="text" placeholder="Enter a part number, valve prop type, diametr" class="banner__input flex-auto p-[10px] text-[14px] md:text-[16px]" />
          <button class="banner__button text-white py-[10px] px-[16px] md:px-[22px] flex justify-center items-center text-[14px] md:text-[16px] font-bold hover-transition bg-purple-normal hover:bg-purple-hover active:bg-purple-active">Search Products</button>
        </form>
      </div>
    </div>
  </div>
</section>
