<section class="brand">
  <div class="brand__wrapper">
    <div class="brand__container container">
      <div class="brand__body flex justify-between items-center flex-col lg:flex-row gap-[30px] px-[20px] pt-[50px] lg:pt-[90px] pb-[60px]">
        <div class="brand__left w-full lg:max-w-[35%] flex flex-col gap-y-[15px] md:gap-y-[30px]">
          <h2 class="brand__title block-title text-black pb-[15px] md:pb-[30px] relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-[28px] after:bg-turquoise-normal">Top Brands Distributor</h2>

          <p class="brand__text text-gray-500 text-[12px] md:text-[14px] leading-[16px] md:leading-[24px]">You are well-connected with us: Having dozens of well- known European manufacturers as partners enables us to offer complete solutions from a single source, as well as solutions for almost any application. The advantage for you: one single competent contact person for all solutions.</p>
        </div>
        <div class="brand__right grid grid-cols-2 md:grid-cols-4">
          <img class="w-full h-full max-w-[200px] border-0 border-gray-300 border-r-[1px] border-b-[1px]" src="./img/brand/1.png" alt="" />
          <img class="w-full h-full max-w-[200px] border-0 border-gray-300 md:border-r-[1px] border-b-[1px]" src="./img/brand/2.png" alt="" />
          <img class="w-full h-full max-w-[200px] border-0 border-gray-300 border-r-[1px] border-b-[1px]" src="./img/brand/3.png" alt="" />
          <img class="w-full h-full max-w-[200px] border-b-[1px] border-gray-300" src="./img/brand/4.png" alt="" />
          <img class="w-full h-full max-w-[200px] border-b-[1px] md:border-b-0 border-r-[1px] border-gray-300" src="./img/brand/5.png" alt="" />
          <img class="w-full h-full max-w-[200px] border-b-[1px] md:border-b-0 md:border-r-[1px] border-gray-300" src="./img/brand/6.png" alt="" />
          <img class="w-full h-full max-w-[200px] border-r-[1px] border-gray-300" src="./img/brand/7.png" alt="" />
          <img class="w-full h-full max-w-[200px]" src="./img/brand/8.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
