<section class="catalog">
  <div class="catalog__wrapper">
    <div class="catalog__container container">
      <div class="catalog__body pt-[30px]">
        <div class="catalog__top flex mb-[50px] items-center justify-between">
          <h2 class="catalog__title title">Catalogue</h2>
          <a href="./catalog.html" class="catalog__all font-bold flex items-center gap-x-[6px] hover-transition hover:translate-x-[3px] text-turquoise-normal hover:text-turquoise-hover active:text-turquoise-active">
            All Catalogue
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.5 1.5L7.5 8L1.5 14.5" stroke="#326988" stroke-width="2" />
            </svg>
          </a>
        </div>

        <div class="pb-[80px] relative">
          <div class="relative">
            <div class="catalog__slider px-[1px] swiper" data-spollers-hidden>
              <div class="swiper-wrapper">
                <div class="catalog__card swiper-slide h-auto flex flex-col border-[1px] border-gray-300 p-[20px] w-full">
                  <div class="catalog__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
                    <a href="#"> <img class="float-end w-full max-w-[49%] object-cover" src="./img/catalog/1.png" alt="" /></a>
                    <h3 class="catalog__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold"><a href="#">Steam traps</a></h3>

                    <p class="catalog__card-text text-[12px] md:text-[14px]">One of the widest ranges of steam traps on the market with standard and custom solutions that guarantee the highest efficiency of your steam system.</p>
                  </div>

                  <div data-parent-hidden class="catalog__card-bottom flex-auto flex flex-col justify-between">
                    <ul data-block-hidden class="catalog__card-list transition-all duration-[400ms] overflow-hidden mb-[25px] flex flex-col gap-y-[8px]">
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Float steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Bimetal steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermodynamic steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermostatic steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Steam traps for compressed air systems </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                    </ul>

                    <div data-spoller-hidden class="catalog__spoller text-gray-900 inline-flex items-center gap-x-[15px] cursor-pointer text-[16px] md:text-[20px] font-bold">
                      <span data-view>View all</span>
                      <span data-collapse>Collapse</span>
                      <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="currentColor" stroke-width="2" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="catalog__card swiper-slide h-auto flex flex-col border-[1px] border-gray-300 p-[20px] w-full">
                  <div class="catalog__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
                    <a href="#"><img class="float-end w-full max-w-[49%] object-cover" src="./img/catalog/2.png" alt="" /></a>
                    <h3 class="catalog__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold"><a href="#">Pressure regulators</a></h3>

                    <p class="catalog__card-text text-[12px] md:text-[14px]">Extensive range of pressure regulators with solutions that cover standard and most demanding pressure control applications with steam, water or other gases and liquids</p>
                  </div>

                  <div data-parent-hidden class="catalog__card-bottom flex-auto flex flex-col justify-between">
                    <ul data-block-hidden class="catalog__card-list transition-all duration-[400ms] overflow-hidden mb-[25px] flex flex-col gap-y-[8px]">
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Pressure reducing valves / Downstream pressure regulators. </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">By-pass valves / Pressure regulators "to yourself" Pressure regulators "to yourself" </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Pressure regulators for blanketing systems Reducing plants </a></li>
                    </ul>

                    <div data-spoller-hidden class="catalog__spoller text-gray-900 inline-flex items-center gap-x-[15px] cursor-pointer text-[16px] md:text-[20px] font-bold">
                      <span data-view>View all</span>
                      <span data-collapse>Collapse</span>
                      <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="currentColor" stroke-width="2" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="catalog__card swiper-slide h-auto flex flex-col border-[1px] border-gray-300 p-[20px] w-full">
                  <div class="catalog__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
                    <a href="#"><img class="float-end w-full max-w-[49%] object-cover" src="./img/catalog/3.png" alt="" /></a>
                    <h3 class="catalog__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold"><a href="#">Клапани регулюючі</a></h3>

                    <p class="catalog__card-text text-[12px] md:text-[14px]">Асортимент ADCATrol включає універсальні регулюючі клапани для керування потоком або його відсікання, а також багато моделей клапанів,</p>
                  </div>

                  <div data-parent-hidden class="catalog__card-bottom flex-auto flex flex-col justify-between">
                    <ul data-block-hidden class="catalog__card-list transition-all duration-[400ms] overflow-hidden mb-[25px] flex flex-col gap-y-[8px]">
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Двоходові регулюючі клапани </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Триходові регулюючі клапани </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Запірні клапани </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Регулятори температури прямої дії </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Пневматичні та електричні приводи </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Пневматичні та електричні приводи </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Пневматичні та електричні приводи </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Пневматичні та електричні приводи </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Пневматичні та електричні приводи </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Пневматичні та електричні приводи </a></li>
                    </ul>

                    <div data-spoller-hidden class="catalog__spoller text-gray-900 inline-flex items-center gap-x-[15px] cursor-pointer text-[16px] md:text-[20px] font-bold">
                      <span data-view>View all</span>
                      <span data-collapse>Collapse</span>
                      <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="currentColor" stroke-width="2" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="catalog__card swiper-slide h-auto flex flex-col border-[1px] border-gray-300 p-[20px] w-full">
                  <div class="catalog__card-top flex flex-col items-center gap-y-[10px] md:block mb-[20px] md:mb-[50px]">
                    <a href="#">
                      <img class="float-end w-full max-w-[49%] object-cover" src="./img/catalog/1.png" alt="" />
                    </a>
                    <h3 class="catalog__card-title inline-block mb-[15px] md:mb-[35px] text-blue-normal text-[18px] font-bold"><a href="#">Steam traps</a></h3>

                    <p class="catalog__card-text text-[12px] md:text-[14px]">One of the widest ranges of steam traps on the market with standard and custom solutions that guarantee the highest efficiency of your steam system.</p>
                  </div>

                  <div data-parent-hidden class="catalog__card-bottom flex-auto flex flex-col justify-between">
                    <ul data-block-hidden class="catalog__card-list transition-all duration-[400ms] overflow-hidden mb-[25px] flex flex-col gap-y-[8px]">
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Float steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Bimetal steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermodynamic steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Thermostatic steam traps </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Steam traps for compressed air systems </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                      <li><a href="#" class="text-[12px] md:text-[14px] text-turquoise-normal hover-transition hover:text-turquoise-hover active:text-turquoise-active underline">Related equipment </a></li>
                    </ul>

                    <div data-spoller-hidden class="catalog__spoller text-gray-900 inline-flex items-center gap-x-[15px] cursor-pointer text-[16px] md:text-[20px] font-bold">
                      <span data-view>View all</span>
                      <span data-collapse>Collapse</span>
                      <svg class="transition-all" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L15 1" stroke="currentColor" stroke-width="2" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="catalog__button-prev swiper-button-prev top-1/4 lg:top-1/2 max-[1360px]:left-0 left-auto right-full hover-transition text-dark-normal hover:text-dark-hover active:text-dark-active"></div>
            <div class="catalog__button-next swiper-button-next top-1/4 lg:top-1/2 max-[1360px]:left-auto left-full hover-transition text-dark-normal hover:text-dark-hover active:text-dark-active right-0"></div>
          </div>
          <div class="catalog__button-pagination swiper-pagination !bottom-[30px]"></div>
        </div>
      </div>
    </div>
  </div>
</section>
