<section class="responsibility relative bg-gradient-to-r from-black/90 to-black/30">
  <img class="w-full max-w-full top-0 left-0 absolute z-[-1] h-full max-h-full object-cover" src="./img/responsibility/bg.jpg" alt="" />
  <div class="responsibility__wrapper">
    <div class="responsibility__container container">
      <div class="responsibility__body py-[85px] text-white">
        <h2 class="responsibility__title block-title mb-[30px] max-w-[750px]">"Prima Steam" has a constantly evolving stock in Poland assured.</h2>

        <p class="responsibility__text text-[16px] sm:text-[27px] md:text-[18px] lg:text-[19px] xl:text-[20px] font-bold max-w-[750px]">There is no need to scale positions in a company with flat hierarchies. Personal responsibility and ambitious goals, however, form part of every task within our company right from the outset. Learn more.</p>
      </div>
    </div>
  </div>
</section>
