<section class="banner">
  <div class="banner__wrapper">
    <div class="banner__container container">
      <div class="banner__body">
        <div class="banner__head border-b-[1px] border-turquoise-normal pb-[20px]">
          <div class="banner__title mb-[25px] py-[130px] text-center text-[30px] leading-[33px] sm:text-[50px] sm:leading-[44px] md:text-[50px] md:leading-[55px] font-bold relative bg-black/70 text-white">
            <img class="absolute left-0 top-0 w-full h-full -z-10 object-cover" src="./img/news_events-page/banner/bg.jpg" alt="" />
            News & Events
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
