<div class="cards">
  <div class="cards__wrapper">
    <div class="cards__container container">
      <div class="cards__body">
        <div class="cards__main flex gap-[20px]">
          <article class="cards__card flex flex-col rounded-[10px] overflow-hidden">
            <img class="w-full max-w-[415px]" src="./img/news_events-page/banner/bg.png" alt="" />

            <div class="cards__card-text px-[20px] py-[15px]">
              <p class="cards__card-date text-gray-400 text-[14px] mb-[15px]">2024.09.26</p>

              <h3 class="cards__card-title font-bold mb-[15px] text-[28px]">Save time with ADCATools, our new Engineering Calculator!</h3>

              <p class="card__card-description text-[20px] text-gray-400 mb-[20px]">ADCATools is a comprehensive engineering toolbox designed for engineers, problem solvers, technicians, and enthusiasts looking to boost their productivity. It features more than 35 fluid system calculators seamlessly integrated into an easy-to-use interface.</p>

              <button class="cards__card-button flex items-center gap-x-[5px] hover-transition text-blue-normal hover:text-blue-hover active:text-blue-active">
                Read article
                <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 13L8 7L1 1" stroke="currentColor" stroke-width="2" />
                </svg>
              </button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
