<div class="cards my-[50px]">
  <div class="cards__wrapper">
    <div class="cards__container container">
      <div class="cards__body">
        <div
          class="cards__main mb-[30px] border-b-[1px] border-turquoise-normal pb-[50px] grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[20px]">
          <article class="cards__card w-full flex-auto flex flex-col rounded-[10px] overflow-hidden">
            <img class="w-full max-w-full" src="./img/news_events-page/banner/bg.png" alt="" />
            <div class="cards__card-text flex-auto flex flex-col justify-between px-[20px] py-[15px] bg-[#F2F2F2]">

              <div class="cards__card-info flex-auto flex flex-col">
                <p class="cards__card-date text-gray-400 text-[14px] mb-[15px]">2024.09.26</p>

                <h3 class="cards__card-title font-bold mb-[15px] text-[22px] leading-[24px]">Save time with ADCATools,
                  our new Engineering Calculator!</h3>

                <p class="card__card-description text-[15px] leading-[17px] text-gray-400 mb-[20px]">ADCATools is a
                  comprehensive
                  engineering toolbox designed for engineers, problem solvers, technicians, and enthusiasts looking to
                  boost their productivity. It features more than 35 fluid system calculators seamlessly integrated
                  into
                  an easy-to-use interface.</p>

              </div>

              <button
                class="cards__card-button flex items-center self-end text-[20px] font-bold gap-x-[5px] hover-transition text-blue-normal hover:text-blue-hover active:text-blue-active">
                Read article
                <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 13L8 7L1 1" stroke="currentColor" stroke-width="2" />
                </svg>
              </button>
            </div>
          </article>
          <article class="cards__card w-full flex-auto flex flex-col rounded-[10px] overflow-hidden">
            <img class="w-full max-w-full" src="./img/news_events-page/banner/bg.png" alt="" />

            <div class="cards__card-text flex-auto flex flex-col justify-between px-[20px] py-[15px] bg-[#F2F2F2]">

              <div class="cards__card-info flex-auto flex flex-col">
                <p class="cards__card-date text-gray-400 text-[14px] mb-[15px]">2024.08.27</p>

                <h3 class="cards__card-title font-bold mb-[15px] text-[22px] leading-[24px]">Watch our new corporate
                  movie!</h3>

                <p class="card__card-description text-[15px] leading-[17px] text-gray-400 mb-[20px]">We have just
                  launched a new
                  corporate movie! Meet the team who, every day, are involved in the production of our equipment.</p>

              </div>

              <button
                class="cards__card-button flex items-center self-end text-[20px] font-bold gap-x-[5px] hover-transition text-blue-normal hover:text-blue-hover active:text-blue-active">
                Read article
                <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 13L8 7L1 1" stroke="currentColor" stroke-width="2" />
                </svg>
              </button>
            </div>
          </article>
          <article class="cards__card w-full flex-auto flex flex-col rounded-[10px] overflow-hidden">
            <img class="w-full max-w-full" src="./img/news_events-page/banner/bg.png" alt="" />

            <div class="cards__card-text flex-auto flex flex-col justify-between px-[20px] py-[15px] bg-[#F2F2F2]">
              <div class="cards__card-info flex-auto flex flex-col">
                <p class="cards__card-date text-gray-400 text-[14px] mb-[15px]">2024.07.30</p>

                <h3 class="cards__card-title font-bold mb-[15px] text-[22px] leading-[24px]">Watch our new videos!</h3>

                <p class="card__card-description text-[15px] leading-[17px] text-gray-400 mb-[20px]">
                  We have just launched two new videos! The Factory and ADCAPure are now on our YouTube channel.
                </p>

              </div>

              <button
                class="cards__card-button flex items-center self-end text-[20px] font-bold gap-x-[5px] hover-transition text-blue-normal hover:text-blue-hover active:text-blue-active">
                Read article
                <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 13L8 7L1 1" stroke="currentColor" stroke-width="2" />
                </svg>
              </button>
            </div>

          </article>
        </div>

        <div class="cards__pagination flex items-center justify-center sm:justify-start gap-x-[10px]">
          <button
            class="cards__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] gap-x-[8px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
            <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM17 3.5L1 3.5L1 4.5L17 4.5L17 3.5Z"
                fill="currentColor" />
            </svg>
            <span class="hidden sm:inline">Back to list</span></button>
          <button
            class="cards__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
            1
          </button>
          <button
            class="cards__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-transparent hover:bg-blue-hover active:bg-blue-active text-black hover:text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
            2
          </button>
          <button
            class="cards__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-transparent hover:bg-blue-hover active:bg-blue-active text-black hover:text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
            ...
          </button>
          <button
            class="cards__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-transparent hover:bg-blue-hover active:bg-blue-active text-black hover:text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
            27
          </button>
          <button
            class="cards__pagination-button flex items-center justify-center min-w-[36px] min-h-[33px] font-bold text-[16px] rounded-[5px] py-[4px] px-[8px] hover-transition bg-blue-normal hover:bg-blue-hover active:bg-blue-active text-white border-[1px] border-blue-normal hover:border-blue-hover active:border-blue-active">
            <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM16 3.5L0 3.5L0 4.5L16 4.5L16 3.5Z"
                fill="currentColor" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>